<div class="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h6 class="text-uppercase font-weight-bold text-danger">perusahaan</h6>
                <ul class="list-unstyled mb-4">
                    <li>
                        <a class="font-weight-bold" href="#">Tentang Kami</a>
                    </li>
                    <li>
                        <a class="font-weight-bold" href="#">Cara Kerja</a>
                    </li>
                    <li>
                        <a class="font-weight-bold" href="#">FAQ</a>
                    </li>
                    <li>
                        <a class="font-weight-bold" href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h6 class="text-uppercase font-weight-bold text-danger">Kantor</h6>
                <ul class="list-unstyled mb-4">
                    <li>
                        <p class="font-weight-bold">Rukan Permata Senayan</p>
                    </li>
                    <li>
                        <p>Blok E33-35</p>
                    </li>
                    <li>
                        <p>Jalan Tentara Pelajar, Kebayoran lama, Kota Jakarta Selatan, 12210</p>
                    </li>
                    <li>
                        <p>Phone: +62 812 9001 9010</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h6 class="text-uppercase font-weight-bold text-danger">media social</h6>
                <ul class="list-unstyled list-inline sosmed">
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="footer-bottom">
    <div class="container">© Arsitag 2015 - 2017 | All rights reserved.</div>
</div>


