.cover {
    border: 0;
    box-shadow: 0 2px 4px 0 #e6e7e8;
    margin-bottom: 30px;

    img {
        border-radius: 0;
        ~.card-body {
            display: flex;
            align-items: center;
            padding-top: 24px;
            padding-bottom: 15px;
        }
    }

    .card-body {
        .user-img {
            position: relative;
            margin-top: -65px;
            margin-right: 20px;
        }

        .user-body {
            position: relative;
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: -10px;

            .user-group {
                .user-title {
                    font-weight: bold;
                    font-size: 18px;
                    margin: 0;
                    color: $gray;
                }

                .btn + .btn {
                    margin-left: 15px;
                }

                .rate-1,
                .rate-2,
                .rate-3,
                .rate-4,
                .rate-5 {
                    display: flex;
                    align-items: center;
                }

                .reviews-count {
                    font-size: 15px;
                    margin-left: 10px;
                    color: $gray;
                }
            }
        }
    }
}

.row {
    .information {
        border: 0;
        box-shadow: 0 2px 4px 0 #e6e7e8;
        margin-bottom: 30px;

        .information-items {
            list-style: none;
            padding-left: 20px;
            border-bottom: 2px solid $mediumsmoke;
            padding-bottom: 20px;
            margin-bottom: 20px;

            &:last-of-type {
                border-bottom: 0;
                padding-bottom: 0;
                margin-bottom: 5px;
            }
        }

        .information-items-top {

            .information-item {
                color: $gray;
                padding-left: 1em;
                text-indent: -30px;
                color: $gray;
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }

                &:nth-of-type(1):before {
                    content: url('../images/Briefcase - simple-line-icons.png');
                    margin-right: 15px;
                }

                &:nth-of-type(2):before {
                    content: url('../images/User - simple-line-icons.png');
                    margin-right: 15px;
                }

                &:nth-of-type(3):before {
                    content: url('../images/Location-pin - simple-line-icons.png');
                    margin-right: 15px;
                }

                &:nth-of-type(4):before {
                    content: url('../images/Phone - simple-line-icons Copy 2.png');
                    margin-right: 15px;
                }

                &:nth-of-type(5):before {
                    content: url('../images/Globe - simple-line-icons.png');
                    margin-right: 15px;
                }

                a {
                    cursor: pointer;
                }
            }
        }

        .information-items-bottom {

            .information-item {

                a {
                    display: flex;
                    width: 35px;
                    height: 35px;
                    background: $gray;
                    color: $white;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                }
            }
        }

        p {
            font-weight: bold;
            color: $gray;
            margin-bottom: 10px;

            ~ .information-items {
                padding-left: 0;

                li {
                    color: $gray;
                }

                li+li {
                    margin-top: 10px;
                }
            }
        }
    }
}

@media only screen and (max-width: 372px) {
    .cover {

        .card-body {

            .user-body {

                .user-group {
                    display: flex;
                    flex-direction: column;

                    .btn {
                        margin-left: 0 !important;
                    }
                }
            }
        }
    }
}

@include mq(xs) {
    .cover {

        img {

            ~ .card-body {
                flex-direction: column;
                justify-content: center;
                padding-bottom: 30px;

                img {
                    margin-bottom: 25px;
                    margin-right: 0;
                }
            }
        }

        .card-body {

            .user-body {
                flex-direction: column;

                .user-group {
                    text-align: center;

                    .btn {
                        margin-top: 25px;
                    }

                    .rate-1,
                    .rate-2,
                    .rate-3,
                    .rate-4,
                    .rate-5 {
                       justify-content: center;
                    }
                }
            }
        }
    }
}

@include mq(sm) {
    .cover {

        .card-body {

            .user-body {
                flex-direction: column;

                .user-group {
                    text-align: center;

                    .btn {
                        margin-top: 25px;
                    }

                    .btn+.btn {
                        margin-left: 15px;
                    }

                    .rate-1,
                    .rate-2,
                    .rate-3,
                    .rate-4,
                    .rate-5 {
                        justify-content: center;
                    }
                }
            }
        }
    }
}

@include mq(mnsm_mxlg) {
    .cover {

        img {
            border-radius: 0;

            ~.card-body {
                flex-direction: column;
                padding-bottom: 30px;

                img {
                    margin-bottom: 25px;
                    margin-right: 0;
                }
            }
        }
    }
}
