
/*=============================================
    Navbar Desktop
=============================================*/

.navbar {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    background: $white;

    .navbar-wrapper-item {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;

        .navbar-nav {
            .nav-item {
                &:hover {
                    .nav-link {
                        color: $red;
                    }
                }
                .nav-link {
                    font-size: 15px;
                    cursor: pointer;
                }
                .input-group-text {
                    background: $white;
                }

            }
            &:first-of-type {
                .nav-item {
                    padding: 0 10px;
                }
            }
            &:last-of-type {
                .nav-item {
                    position: relative;
                    &:nth-of-type(2):before {
                        background: $darksmoke;
                        display: block;
                        content: '';
                        width: 1px;
                        height: 25px;
                        margin: 7px 0;
                        position: absolute;
                        right: 0;
                    }
                    .btn,
                    input {
                        font-size: 15px;
                    }
                    .btn-link {
                        color: var(--secondary);
                        &:hover {
                            color: $red;
                            text-decoration: none;
                        }
                    }
                }
            }
        }

    }
}

/*=============================================
    Navbar Mobile
=============================================*/

.sidebar {

    .input-group-text {
        background: $white;
    }

    .sidebar-toggle {
        background: transparent;
        border: 0;
        padding: 0;

        &:hover,
        &:active,
        &:focus {
            background: transparent !important;
            box-shadow: none !important;
            outline: none;
        }

        .toggle-icon {
            display: block;
            width: 25px;
            height: 3px;
            background: $gray;
            border-radius: 30px;
            transition: 0.4s;

            &:nth-of-type(2) {
                width: 19px;
                margin: 6px 0 6px 6px;
            }
        }
    }

    .sidebar-toggle.active {
        .toggle-icon {
            &:nth-of-type(1) {
                transform: rotate(45deg) translate(7px, 6px);
            }

            &:nth-of-type(2) {
                opacity: 0;
            }

            &:nth-of-type(3) {
                transform: rotate(-45deg) translate(6px, -6px);
            }
        }
    }

    .navbar-wrapper-item.ng-hide {
        display: block !important;
        left: -100%;
    }

    .navbar-wrapper-item {
        background: $white;
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 75%;
        height: 100%;
        z-index: 1020;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
        padding: 30px;
        transition: left .5s;

        .navbar-nav {
            display: block;
            margin: 0 !important;

            &:last-of-type {
                .nav-item {
                    &:nth-of-type(2):before {
                        display: none !important;
                    }

                    &:last-of-type {
                        border-bottom: 0;
                    }
                }
            }

            .nav-item {
                padding: 0 !important;
                border-bottom: 1px solid $darksmoke;
            }
        }
    }
}
